<div class="row no-gutters">
    <div class="col-6 pr-3">
        <input type="text"
            class="form-control"
            [(ngModel)]="monsterName"
            placeholder="Monster name">
    </div>

    <div class="col-4 pr-3">
        <input type="number"
            class="form-control"
            [(ngModel)]="monsterHealth"
            placeholder="Max health">
    </div>

    <div class="col-2">
        <button type="button"
            class="btn btn-primary btn-block"
            (click)="addMonster()">
            Add
        </button>
    </div>
</div>